
$lightBlue:#E3F4F2;
$lightPink: rgba(224, 133, 133, 0.7);
$darkerBlue: #2F4858;
$darkBlue: #0f1e36;
$dark: #0a0a0a;
$grayishBlue: hsl(233, 8%, 62%);
$white: #fff;
$darkGrey: rgb(12, 11, 11);
$lightGrey: rgb(233, 233, 233);
$greenishBlue: #B8D6D2;

//font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
